@model CreateSurveyorViewModel

@{
    ViewBag.Title = "Create New Surveyor";
    ViewBag.Activelink = "admindashboard";
}
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityNumber"></label>
                <input asp-for="IdentityNumber" class="form-control" autocomplete="off" />
                <span asp-validation-for="IdentityNumber" class="text-danger"></span>
            </div>
            <a class="btn btn-outline-primary" style="width:auto"
               asp-controller="surveyor" asp-action="listsurveyors">
                Back to list
            </a>
            <button style="width:auto" type="submit" class="btn btn-primary">Create Surveyor</button>
        </form>
    </div>
</div>