
@{
    ViewBag.Title = "UnderConstruction";
    ViewBag.Activelink = "userprofile";
}
<section>
    <div class="underConstruction">oops ! We are still working on this screen !</div>
    <div class="underConstructionImg"></div>
</section>

<style>
    .underConstruction {
        font-size: 55px;
        position: fixed;
        top: 50%;
        text-align: center;
        width: 80%;
        min-height: 400px;
        font-family: 'Segoe UI';
        font-weight: 400;
    }

    .underConstructionImg {
        background-image: url('/images//helmet.png');
        background-repeat: no-repeat;
        height: 400px;
        width: 80%;
        top: 30%;
        position: fixed;
        background-position-x: center
    }
</style>