@{
    ViewBag.Title = "Login";
    Layout = "_AccountLayout";
}
<div class="face face-front not_verified">
    <div class="content">
        <h4>
            If you have an account with us, we have sent an email
            with the instructions to reset your password.
        </h4>
    </div>
</div>
