@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Login";
    Layout = "_AccountLayout";
}
<div class="face face-front">
    <div class="content">
      <h2>Forgot Password</h2>
      <form method="post">
          <div asp-validation-summary="All"></div>
          <div class="field-wrapper">
              <input asp-for="Email" type="text" autocomplete="off" placeholder="Email" />
              <label asp-for="Email"></label>
          </div>
          <div class="field-wrapper">
              <input type="submit" value="Submit">
          </div>
      </form>
    </div>
</div>