
@{
    ViewData["Title"] = "Not yet verified";
    Layout = "_AccountLayout";
}
<div class="face face-front not_verified">
    <div class="content">
        <h2 style="color:darkslategrey">Not yet verified ! </h2>
        <p style="color:cadetblue">Your account activation request is pending with the admin, Once activated you will be informed</p>
        <span class="singin">Back to  <a asp-action="login" asp-controller="account" class="nav-link">Login</a></span>
            <img src="~/images/logo.png" />
            <h1 style="display: initial;position: absolute;bottom: 25%;">RWEDO</h1>
    </div>
 </div>