@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "_AccountLayout";
}
<div class="face face-front">
    <div class="content">
        <h2>Register User</h2>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="field-wrapper">
                <input asp-for="UserName" placeholder="Username" autocomplete="off" />
                <label asp-for="UserName"></label>
            </div>
            <div class="field-wrapper">
                <input asp-for="Email" type="text" placeholder="Email" autocomplete="off" />
                <label asp-for="Email"></label>
            </div>
            <div class="field-wrapper">
                <input asp-for="Password" placeholder="Password" autocomplete="off" />
                <label asp-for="Password"></label>
            </div>
            <div class="field-wrapper">
                <input asp-for="ConfirmPassword" placeholder="Confirm password" autocomplete="off" />
                <label asp-for="ConfirmPassword"></label>
            </div>
            <div class="field-wrapper">
                <input type="submit" value="Register">
            </div>
            <span class="singin">Already a user?  <a asp-action="login" asp-controller="account" class="nav-link">Login</a></span>
        </form>
    </div>
</div>