@{
    ViewBag.Title = "info";
    Layout = "_AccountLayout";
}
<div class="face face-front not_verified">
    <div class="content">
        <h4>
            Your password is reset. Please click <a asp-action="Login">here to login</a>
        </h4>
     </div>
</div>