@model ResetPasswordViewModel
@{
    ViewBag.Title = "Login";
    Layout = "_AccountLayout";
}
<div class="face face-front">
    <div class="content">
        <h2>Reset password</h2>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Token" type="hidden" />
                    <input asp-for="Email" type="hidden" />
                    <div class="field-wrapper">
                        <input asp-for="Password" autocomplete="off" placeholder="Password" />
                        <label asp-for="Password"></label>
                    </div>
                    <div class="field-wrapper">
                        <input asp-for="ConfirmPassword" autocomplete="off" placeholder="Password" />
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="field-wrapper">
                        <input type="submit" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>